@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");

.textarea {
  width: 80vw;
  height: 40vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 1.5rem;
  text-align: start;
  box-shadow: 0px 0.7px 11.5px rgba(0, 0, 0, 0.028),
    0px 2.2px 38.6px rgba(0, 0, 0, 0.042), 0px 10px 173px rgba(0, 0, 0, 0.07);
  border: 2px solid #940eff;
  border-radius: 5px;
}

@media only screen and (min-width: 1000px) {
  .textarea {
    width: 55vw;
  }
}

.buttons {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}

.pribtn {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0.5rem;
  font-weight: 500;
  background-color: #940eff;
  color: white;
  padding: 0.4rem 3rem;
  border: none;
  font-size: 1.15rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;


  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.pribtn:hover{
  transition-duration: 0.1s;
  background-color: #3A3A3A;
}

.secbtn:hover{
  transition-duration: 0.1s;
  color: #3A3A3A;
  border: 2px solid #3A3A3A;
}

.pribtn i,
.secbtn i {
  margin-left: 0.5rem;
  font-size: 1.95rem;
  padding-top: 0.5vh;
}

.secbtn {
  border-radius: 5px;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0.5rem;
  font-weight: 500;
  color: #940eff;
  border: 2px solid #940eff;
  background-color: white;
  padding: 0.4rem 3rem;
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .buttons {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
