.options-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  box-shadow: 0px 0.7px 11.5px rgba(0, 0, 0, 0.028),
    0px 2.2px 38.6px rgba(0, 0, 0, 0.042), 0px 10px 173px rgba(0, 0, 0, 0.07);
  background-color: white;
  bottom: 0;
  border: 2px solid #940eff;
  border-radius: 10px;
}

.option {
  margin: 0.5rem 0.75rem;
  width: 1.75rem;
}
