* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  margin-bottom: 15vh;
}

.main-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .main-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .App {
    margin-bottom: 0;
  }
}

.buttons {
  margin-top: 3vh;
  display: flex;
  width: 80vw;
  margin-left: 10vw;
  flex-direction: column;
}

.pribtn {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0.5rem;
  font-weight: 500;
  background-color: #940eff;
  color: white;
  padding: 0.4rem 3rem;
  border: none;
  font-size: 1.15rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.pribtn:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

.secbtn:hover {
  transition-duration: 0.1s;
  color: #3a3a3a;
  border: 2px solid #3a3a3a;
}

.pribtn i,
.secbtn i {
  margin-left: 0.5rem;
  font-size: 1.95rem;
  padding-top: 0.5vh;
}

.secbtn {
  border-radius: 5px;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0.5rem;
  font-weight: 500;
  color: #940eff;
  border: 2px solid #940eff;
  background-color: white;
  padding: 0.4rem 3rem;
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .buttons {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin-left: 0vw;
  }
}
