* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  margin-bottom: 15vh;
}

.main-container {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .main-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .App{
    margin-bottom: 0;
  }
}
